# Dependencies
node_modules/

# Build output
dist/

# Rust
src-tauri/target/
src-tauri/target-test/debug/
src-tauri/target-test/release/
src-tauri/target-test

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

#logcollection
loginventory/
